<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.pixcyan.android.raffennn" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.pixcyan.android.raffennn.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Jeux"
            android:label="@string/title_activity_jeux" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Sinscrire"
            android:label="@string/title_activity_sinscrire" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.ExercicesMaths"
            android:label="@string/title_activity_exercices_maths" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Addition"
            android:label="@string/title_activity_addition"
            android:parentActivityName="fr.pixcyan.android.raffennn.ExercicesMaths" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.pixcyan.android.raffennn.ExercicesMaths" />
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Multiplication"
            android:label="@string/title_activity_multiplication"
            android:parentActivityName="fr.pixcyan.android.raffennn.ExercicesMaths" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.pixcyan.android.raffennn.ExercicesMaths" />
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.ExosCulture"
            android:label="@string/title_activity_exos_culture" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.ChoixTable"
            android:label="@string/title_activity_choix_table" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Aleatoire"
            android:label="@string/title_activity_aleatoire"
            android:parentActivityName="fr.pixcyan.android.raffennn.ExercicesMaths" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.pixcyan.android.raffennn.ExercicesMaths" />
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.Score"
            android:label="@string/title_activity_score" >
        </activity>
        <activity
            android:name="fr.pixcyan.android.raffennn.QuestionArt"
            android:label="@string/title_activity_question_art" >
        </activity>
    </application>

</manifest>
